<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Information of Student</h1>
<form th:action="@{/students/{id}(id=${student.id})}" th:object="${student}" method="post">
    <input placeholder="name" type="text" name="name" th:field="*{name}" /> <br />
    <input placeholder="gpa" type="text" name="gpa" th:field="*{gpa}" /> <br />
    <input placeholder="dob" type="date" name="dob" th:field="*{dob}" /> <br />
    <input placeholder="phone" type="text" name="phone" th:field="*{phone}" /> <br />
    <button type="submit">Submit</button>
</form>

</body>
</html>